
:root {
  --main-bg: white;
  --top-menu-bg: #7d0001;
  --sub-menu-bg: #e01e17;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  max-width: 900px; 
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3rem auto; 
  /* color: white; */
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* delete this style when top nav is active */
header {
    background-color: black;
}


nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    background-image: url("../assets/AdobeStock_295956791.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 488px;
    padding-left: 50px;
    /* padding-top: 50px; */
    padding-right: 50px;
    /* margin: 0 auto; */
}


#intro {
    color: white;
}

#logo {
    max-width: 150px
}

#search {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 800px;
    height: 48px;
    background-color: darkgrey;
    text-align: center;
    color: black;
}

input {
    width: 250px;
}

button {
    background-color: #7d0001;
    color: white;
    text-transform: uppercase;
    border: 0;
}

#results { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    padding: 50px;
}   

#recipe { 
    display: grid; 
    grid-template-columns: 25% 75%;
    grid-gap: 30px;
    padding: 50px;
}   


div img {
    width: 175px;
    object-fit: cover;
    justify-content: center;
}


/* ***************************
** Tablet Media Query
*************************** */

@media screen and (min-width: 480px) {
}

/* ***************************
** Desktop Media Query
*************************** */

@media screen and (min-width: 769px) {
}

/* Smartphone Portrait */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}
