* {
  box-sizing: border-box;
}


:root {
  --main-bg: white;
  --top-menu-bg: #7d0001;
  --sub-menu-bg: #e01e17;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  max-width: 900px; 
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3rem auto; 
  /* color: white; */
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}


nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

.main {
    background-image: url("../assets/AdobeStock_295956791.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 488px;
}

.intro {
    margin-left: 50px;
    color: white;
    margin-top: 25px;
}

#logo {
    max-width: 150px
}

.recipe-search {
    vertical-align: baseline;
}