
:root {
  --main-bg: white;
  --top-menu-bg: #7d0001;
  --sub-menu-bg: #e01e17;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  max-width: 900px; 
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3rem auto; 
  /* color: white; */
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
}


nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    background-image: url("../assets/AdobeStock_295956791.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 488px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}


#intro {
    color: white;
}

#logo {
    max-width: 150px
}

#search {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 800px;
    height: 48px;
    background-color: darkgrey;
    text-align: center;
    color: black;
}

input {
    width: 250px;
}

button {
    background-color: #7d0001;
    color: white;
    text-transform: uppercase;
    border: 0;
}

#results { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    padding: 50px;
}   

#recipe { 
    display: grid; 
    grid-template-columns: 25% 75%;
    grid-gap: 30px;
    padding: 50px;
}   


div img {
    width: 175px;
    object-fit: cover;
    justify-content: center;
}

/* For the popup type window 
.btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: pink;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}



#box{
  width: 500px;
  overflow: hidden;
  background: pink;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}



#box span{
  color: hotpink;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}



#box h1{
  color: brown
}



.close{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(111, 111, 223);
  display: inline-block;
  border-radius: 1px solid #000;
  */

/* .inactive {
    visibility: hidden;
    height: 0;
}  */
